<form>
    <label>Name</label>
    <input type="text" class="form-control"/><br />
    <label>Password</label>
    <input type="text" class="form-control"/><br />
    <input type="submit" class="form-control btn btn-danger" value="submit" /><br />
</form>
